server:
#  port: 8081
  servlet:
    context-path: /api

spring:

  messages:
    basename: messages/messages
    encoding: UTF-8

  datasource:
    url: jdbc:postgresql://localhost:5432/credito_auto
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
#    show-sql: true
    hibernate:
      ddl-auto: update
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.PostgreSQLDialect

#logging:
#  file:
#    name: credito_auto-api.log
#    path: /var/logs/

csv:
  files:
    brands: data/brands_initial_data.csv
    sale-executives: data/sale_executives_initial_data.csv
    customers: data/customers_initial_data.csv
    car-yards: data/car_yards_initial_data.csv
